body {
    align-items: center;
}

h1#title, section.container p {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;

    /* Center-align element */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section.container {
    /* 50% of the width and 10% of the height is curved on the top-left of the section */
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
    border: 1px solid #000000;
    background-color: brown;
    /* height can be fixed... */
    height: 80vh;
    /* ...or dynamic */
    /* height: fit-content; */
}

h1:hover {
    transform: scale(2.5);
}
p[class="truth"] {
	/* display: inline; */
    margin-top: 40px;
    margin-bottom: 20px;
	font-size: 30px;
}
p.lie {
	background-color: white;
	/* display: inline; */
	font-size: 10px;
}
p.lie:hover {
    /* When the mouse hovers the element */
    background-color: red;
    transform: rotate(40rad);
    transform: scale(3.5);
} 